body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

h1 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.main__header h1 {
  text-align: center;
}

footer {
  background-color: #353535;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding: 25px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
  font-weight: lighter;
}

footer a {
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 5px 5px 5px 0px;
}

footer ul li {
  padding: 5px 0 5px 0;
}

footer ul .fa-utensils {
  margin-right: 12px;
}

footer ul .fa-hands-helping {
  margin-right: 5px;
}

.fa-handshake {
  transform: rotate(-45deg);
}

.fa-utensils {
  padding-right: 5px;
}

.about {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.about h2 {
  font-weight: bold;
}

.about p {
  color: #4d4d4d;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;
}

.restaurant__title h3 {
  padding: 30px 0px 0px 20px;
}

.card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
}

.card img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 220px;
}

.card__title {
  font-size: 0.7em;
  color: #838383;
}

.card__title h3::after {
  content: "";
  display: flex;
  flex-direction: column;
  width: 40px;
  border: 2px solid #99E2D0;
}

.main__restaurant {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card figure {
  margin: 0;
}

.card figcaption {
  margin: 0;
  padding: 10px;
}

.heart h4 {
  margin: 0;
  font-size: 1.5rem;
}

figcaption p {
  margin-top: 0;
  margin-bottom: 10px;
}

.fill__heart i {
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  bottom: 13%; }
.fill__heart .far {
  color: black;
 }

.fill__heart .fas {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 500ms;
 }

.fill__heart .fas:hover {
  opacity: 1;
  cursor: pointer; 
}

.fall__heart i {
  font-size: 2em;
  margin-right: -1.1em;
}

.fall__heart .far {
  color: black;
}

.fall__heart .fas {
  padding-right: 1em;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 500ms; 
}

.fall__heart .fas:hover {
  opacity: 1;
  cursor: pointer; 
}

.loader {
  background: -webkit-linear-gradient(#9356DC, #FF79DA,#99E2D0);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}

.loader__food {
  text-align: center;
  padding-top: 50%;
}

.loader__food span {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding-right: 1em;
}

.loader__fork {
  padding-top: 100px;
  animation: rotate 2s linear infinite;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 2s ease-in-out 150ms infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out  infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 2s ease-in-out 150ms infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 2s ease-in-out 150ms infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 2s ease-in-out 150ms infinite;
}

.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.starter {
  animation: fadein 3s ease-in-out;
}

.plat {
  animation: fadein 6s ease-in-out;
}

.dessert {
  animation: fadein 9s ease-in-out;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

.cross .fa-check-circle {
  color: #fff;
  font-size: 25px;
  transition: transform 500ms ease-in-out;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps__search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  width: 150px;
}

.btn__about button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 15px;
 color: #fff; 
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  transition: all 300ms ease-in-out;
}

.btn__about button:hover {
  cursor: pointer;
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
  transition: 300ms ease-in-out;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right:3%;
  top: 5%;
}

.fall {
  display: inline-block;
  cursor: pointer;
}

.header__img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 20px;
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 35px 10px 10px;
 
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}

.meals:hover {
  padding-right: 75px;
}

.meals .cross {
  transition: all 400ms ease-in-out;
}

.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}

.meals .fa-check-circle {
  transition: all 500ms ease-in-out;
}

.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.second__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.second__line p {
  font-size: 0.8em;
  color: #838383;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.second__line span {
  margin-right: 5px;
}

.meals h4 {
  margin: 0;
}

.starter h3,  .plat h3, .dessert h3 {
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.btn__order button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin: 30px 0;
  padding: 20px;
  width: 50%;
  transition: all 300ms ease-in-out;
}

.btn__order button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
  transition: 300ms ease-in-out;
}

.btn__order {
  display: flex;
  justify-content: center;
}

.operation {
  margin-bottom: 50px;
}

.operation h2 {
  padding: 20px;
}

.operation__steps {
  list-style-type: none;
}

ul.operation__steps  {
  padding-left: 0;
}

.operation__steps li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.operation__steps li p {
  font-weight: 500;
  margin-left: 20px;
}

.operation__steps li:hover {
  background: #f2eafb;
}

.operation__steps li:hover .fas {
  color: #9356dc;
}

.operation__steps--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -40px;
}

.operation__steps--icon {
  color: grey;
  font-size: 1.2rem;
  margin-left: 20px;
}



































 
    

        